.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #191916;
  min-height: 100vh;
}

img {
  width: 1000px;
  height: 500px;
  border: 3px solid wheat;
  margin-bottom: 25px;
  border-radius: 8px;
}

.control button {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.control button:hover {
  background-color: grey;
}

.control button:not(:last-child) {
  margin-right: 15px;
}
