.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #191916;
  min-height: 100vh;
  overflow-x: hidden;
}
.navigator{
  display: flex;
  width: 750px;    
  justify-content: space-between;
}

img {
  width: 1300px;
  height: 700px;
  border: 3px solid wheat;
  margin-bottom: 25px;
  border-radius: 8px;
  
}
img.inStart {
  opacity: 0;
}
img.inEnd {
  transition: opacity 5000ms;
  opacity: 1;
}

img.outStart {  
  opacity: 1;
}

img.outEnd {
  transition: opacity 4000ms;
  opacity: 0;
}

.authorTitle{
  color: #fff;
  font-size: 25px;
}

.control button {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.control button:hover {
  background-color: grey;
}
.Image__section {
 display: flex; 
}


/* .control button:not(:last-child) {
  margin-right: 15px;
} */
