.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #191916;
  min-height: 100vh;
  overflow-x: hidden;
}
.navigator{
  display: flex;
  width: 750px;    
  justify-content: space-between;
}

.mainImg {
  width: 1300px;
  height: 700px;
  border: 3px solid wheat;
  margin-bottom: 25px;
  border-radius: 8px;
  /* transition-property: opacity;
  transition-duration: 5s; */
  /* opacity: 0;  */
}
.background-enter {
  transform: translate(100%);
}

.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.background-leave {
  transform: translate(0%);
}

.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

.inStart {
  opacity: 0;
}
.inEnd {
  transition: opacity 5000ms;
  opacity: 1;
}

.outStart {  
  opacity: 1;
}

.outEnd {
  transition: opacity 5000ms;
  opacity: 0;
}

.authorTitle{
  color: #fff;
  font-size: 25px;
}

.control button {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.control button:hover {
  background-color: grey;
}
.Image__section {
 display: flex; 
}


/* .control button:not(:last-child) {
  margin-right: 15px;
} */
