.wrapperContainer{
    width: 100%;
}



.content  {
    display: flex;    
    height: 1200px;    
    flex-flow: row wrap
    
}

.contentWight{
    display: flex;    
    flex-flow: column wrap;
    /* height: 1200px; */
}
.container {
    display: flex;
    flex-wrap: wrap;
    height: 1200px;
    flex-direction: column;
    width: 100%;
    
}

.imgWrapper{
    height: 300px;    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.nextBlock, .prevBlock{
    display: flex;
    flex-flow: column wrap;
    height: 1200px;
    width: 100%;
   
}

